@media  (max-width:767px){
.news_home{
    background-color: #e5e5e5;
}
}
.class_text_new{
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    color: black;
    line-height: 14px;
}
.class_text{
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    color: #666;
    line-height: 1.5;

}
.title_glavn{
    font-family: MuseoCyrl-700!important;

}
.title_voprosy{
    font-family: MuseoCyrl-700!important;
}
.kategoru_home a {
    line-height: 2.5!important;
}
.button_news:hover{
    background-color: yellow;
}
.news_text_title{
    font-family: "Museo Cyrl 700";
}
.news_text{
    margin-bottom: 53px;
    font-family: Roboto;
}
.title_news{
    font-family: "Museo Cyrl 700";
}
.margin_container{
    margin-bottom: 10%;
}
.akciiblock{
    margin-top: 21px!important;
}
.akciihead {
    font-size: 38px;
    font-family: "Museo-Cyrl-700";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 900;
    margin-left: 0px!important;
    margin-top: 30px;
}
.row{
    font-size: 15px;
    font-family: Roboto;

}


.voprosy{
    line-height: 1.5;
    margin-left: 15px;
}
.vupad_text1{
    display: none;
}

.categoru_home{
   font-family: Roboto-Bold!important;
}
.news_home{
    color: black!important;
}

.text_home {
    padding: 0 !important;

}
.vypad_home{
    padding-bottom: 30px;
    padding-top: 30px;

}

.vupad_text {
    font-size: 15px;
    font-family: Roboto-Regular;
    color: rgb(110, 110, 110);
    line-height: 1.467;
    text-align: left;
    position: relative;
    background-color: white!important;
    border: none;
    -webkit-box-shadow: none;

}
.vypad{
    cursor: pointer;
}
.vupad_text1 {

    font-size: 15px;
    font-family: Roboto-Regular;
    color: rgb(110, 110, 110);
    line-height: 1.467;
    text-align: left;
    position: relative !important;
    background-color: white!important;
    border: none!important;
    -webkit-box-shadow: none!important;

}
@media  (min-width:768px){


    .catshow{
        height: 155px;
    }
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .catshow span {
        top: auto;
        position: absolute;
        bottom: 24px;
        left: 24px;
        font-size: 16px;
        position: absolute;
        bottom: 24px;
        left: 24px;
        font-family: "Roboto-Medium";
        color: rgb(255, 255, 255);
        line-height: 1.15;
        text-align: left;
    }

}
@media (max-width: 767px){

    .catshow{
        height: 230px;
    }
    .col-xs-5ths {
        width: 50%;
        float: left;
    }
    .catshow span {
        position: absolute;
        top: 24px;
        left: 10px;
    }
    .catshow span {
        margin-right: 142px;
        font-size: 24px;
    }
}
@media (max-width: 400px){
    .catshow span {
        font-size: 16px;
    }
}
@media (max-width: 300px){
    .catshow span {
        font-size: 12px;

    }


}
@media (max-width: 767px) {
    .korob2 a:hover {
        background-color: #ffda00;
        font-size: 21px;
        font-family: "Roboto-Regular";
        color: rgb(0, 0, 0);
        line-height: 2.667;
        text-align: left;
    }
    .korob2 a {
        font-size: 21px;

    }
    .home_categoru{
        display: none;

    }
    .mob_home_categoru{
        text-align: center;
    }

    .categoru_home{
        text-align: center;
    }
}
@media (min-width: 768px) {
    .mob_home_categoru{
        display: none;
    }
}
