@import "../fonts/styles.css";
@media (min-width: 801px) and (max-width: 900px){
    .catshow span {
        top: auto;
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 32px;
        font-size: 15px;
        position: absolute;
        bottom: 24px;
        left: 11px;
        font-family: "Roboto-Medium";
        color: rgb(255, 255, 255);
        line-height: 1.15;
        text-align: left;
    }

}
@media (min-width: 768px) and (max-width: 800px){
    .catshow span {
        top: auto;
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 32px;
        font-size: 30px;
        position: absolute;
        bottom: 24px;
        left: 11px;
        font-family: "Roboto-Medium";
        color: rgb(255, 255, 255);
        line-height: 1.15;
        text-align: left;
    }

}
.kategoru_home h4{
    margin-bottom: 30px;
}
.news_home h3{
   padding: 0;
}
@media  (max-width:767px){
    .img_np_20 {
        width: 100%;
        height: 381px;
    }
.news_home{

    background-color: #e5e5e5;
}
    .korob1 img{
            margin-bottom: 31px;
        }
    .title_voprosy{
        font-size: 16px !important;
    }
    
    .voprosy-change-design{
        font-size: 13px !important;
    }
    .news_home{
        background-color: #e5e5e5;
        padding-left: 30px;
        padding-right: 30px;
        padding: 0 ;

    }


}
.class_text_new{
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    color: black;
    line-height: 14px;
}
.class_text{
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    color: #666;
    line-height: 1.5;

}
.title_glavn{
    font-family: MuseoCyrl-700!important;

}
.title_voprosy{
    font-family: MuseoCyrl-700!important;
}

.button_news:hover{
    background-color: yellow;
    font-family: Roboto-Bold!important;
}

.news_text_title{
    font-family: "Museo Cyrl 700";
    text-decoration: underline;
    font-size: 19px;
}
.news_text{
    margin-bottom: 53px;
    font-family: Roboto;
}
.title_news{
    font-family: "Museo Cyrl 700";
    color:#000;
    
}

.btn-group-cont-row{
    margin-top: 16px;    
}

.row-cont-inform-table{
    margin-top: 34px;
}

.margin_container{
    margin-bottom: 5%;
}
.akciiblock{
    margin-top: 21px!important;
}
.akciihead {
    font-size: 38px;
    font-family: "Museo-Cyrl-700";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 900;
    margin-left: 0px!important;
    margin-top: 30px;
    margin-bottom: 18px;
}
.row{
    font-size: 15px;
    font-family: Roboto;

}


.voprosy{
    line-height: 1.5;
    margin-left: 15px;
}
.vupad_text1{
    display: none;
}

.categoru_home{
   font-family: Roboto !important;

}
.news_home{
    padding: inherit;
    color: black!important;
}

.text_home {
    padding: 0 !important;

}
.vypad_home{
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;


}


.vupad_text {
    font-size: 15px;
    font-family: Roboto-Regular;
    color: rgb(110, 110, 110);
    line-height: 1.467;
    text-align: left;
    position: relative;
    background-color: white!important;
    border: none;
    -webkit-box-shadow: none;

}
.vypad{
    cursor: pointer;
}
.vupad_text1 {

    font-size: 15px;
    font-family: Roboto-Regular;
    color: rgb(110, 110, 110);
    line-height: 1.467;
    text-align: left;
    position: relative !important;
    background-color: white!important;
    border: none!important;
    -webkit-box-shadow: none!important;

}
@media  (min-width:901px){


    .catshow{
        height: 155px;
    }
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .catshow span {
        top: auto;
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 56px;
        font-size: 19px;
        position: absolute;
        bottom: 24px;
        left: 11px;
        font-family: "Roboto-Medium";
        color: rgb(255, 255, 255);
        line-height: 1.15;
        text-align: left;
    }

}
@media (max-width: 767px){
    .kategoru_home a {
            font-weight: 600;
            font-family: Roboto!important;
            line-height: 2.5!important;
        }
    .text_home_title h4{
             text-align: center;

         }

    .catshow{
        height: 158px;
    }
    .col-xs-5ths {
        width: 50%;
        float: left;
    }
    .catshow span {
        position: absolute;
        top: 24px;
        left: 10px;
    }
    .catshow span {
        margin-right: 142px;
        font-size: 21px;
    }
    .btn-group-cont-row{
        margin-top: -5px;
    }
    
}
@media (max-width: 400px){
    .catshow span {
        font-size: 16px;
    }
}
@media (max-width: 300px){
    .catshow span {
        font-size: 12px;

    }


}
@media screen and (max-width: 500px) {
    .text_home_title h4{
       text-align: center;
        font-size: 15px;

    }
    .korob2 a {
             font-size: 11px!important;
         }
    .korob2 a:hover {
             font-size: 11px!important;
         }
}
@media (max-width: 767px) {
    .seo h4 {
            font-size: 19px!important;

        }
    .korob2 a:hover {
        background-color: #ffda00;
        font-size: 21px;
        font-family: "Roboto-Regular";
        color: rgb(0, 0, 0);
        line-height: 2.667;
        text-align: left;
    }
    .korob2 a {
        font-size: 21px;

    }
    .home_categoru{
        display: none;

    }
    .mob_home_categoru{
        text-align: center;
    }

    .categoru_home{
        text-align: center;
    }
    
    .breadcrumbmy{
        display: none;
    }
    
    .title_news{
        font-size: 22px;
    }
    
    .row-cont-btn-group-change-all{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
}


@media (max-width: 582px){
    .newsyears{
        width: 44%;
        height: 7%;
    }
    .btn:nth-child(3){
        margin-top: 23px;
    }
}
@media (min-width: 768px) {
    .mob_home_categoru{
        display: none;
    }
    
    .no-padding_class_mob{
        padding: 0 !important;
    }
}
