@import "../fonts/styles.css";
.title_kachestvo h2{
    font-size: 33px;
    font-family: "Museo Cyrl 700";
    color: black!important;
    margin-bottom: 21px;
}
.text_kachestvo{
    font-size: 17px;
    font-family: Roboto;
    color: #6e6e6e;
    margin-bottom: 56px;
}
.title2_kachestvo h4{
    font-family: "Museo Cyrl 700";
    color: black!important;
    font-size: 25px;
    margin-bottom: 34px;

}
.img_kachestvo img{
    box-shadow: 0px 9px 40px #e1e1e2;
    margin-bottom: 37px;

}
.img_kachestvo {
    margin-bottom: 37px;

}

.pdf_kachestvo img{
    width: 38px;
    position: relative;
    right: 15px;
}

.pdf_img_text_a_href{
    text-decoration: underline;
    padding: 13px 0 0 0;
    font-family: "Roboto-Regular";
    color: #0078ff;
}

.img_img_pdf_a_href{
    padding: 0;
}

.fiveparts {
    padding-left: 0% !important;
}

.pdf_kachestvo {
    font-size: 15px;
    margin-top: 25px;
    text-decoration: underline;
    padding: 0!important;
}

.seo{
    padding: 0px !important;
}
@media (min-width: 992px) and (max-width: 1199px){
    .pdf_img_text_a_href{
        padding-left: 34px !important;
    }
}

@media (min-width: 1200px){
    .pdf_img_text_a_href{
        padding-left: 25px !important;
    }
}
@media screen and (min-width: 768px) {
    .no-padding_class_mob{
        padding: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .breadcrumbmy{
        display: none;
    }
    .fiveparts {
        width: 50%!important;

    }
    
    .pdf_kachestvo img{
        width: 29px;
        position: relative;
        right: 15px;
    }
    .pdf_img_text_a_href {
        text-decoration: underline;
        padding: 8px 0 0 0;
        font-family: "Roboto-Regular";
        color: #0078ff;
    }
    .img_img_pdf_a_href{
        padding-right: 23px !important;
    }
    .vypad{
        cursor: pointer;
    }
    .vupad_text1 {

        font-size: 15px;
        font-family: Roboto-Regular;
        color: rgb(110, 110, 110);
        line-height: 1.467;
        text-align: left;
        position: relative !important;
        background-color: white!important;
        border: none!important;
        -webkit-box-shadow: none!important;

    }
    
    .title_kachestvo h2{
        font-size: 22px !important;
        font-family: "Museo Cyrl 700";
        color: black!important;
        margin-bottom: 21px;
    }
    
    .text_kachestvo{
        font-size: 15px !important;
        font-family: Roboto;
        color: #6e6e6e;
        margin-bottom: 56px;
    }
    
    .title2_kachestvo h4 {
    font-family: "Museo Cyrl 700";
    color: black!important;
    font-size: 18px;
    margin-bottom: 34px;
    }
    
    .seo h4 {
        font-size: 19px !important;
        font-family: "MuseoCyrl-700";
        color: rgb(0, 0, 0);
        line-height: 1.44;
        text-align: left;
    }
}